<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to 'Banco', root_path, class:"navbar-brand" %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        <li class="nav-item">
            <%= link_to 'Conta', root_path, class:"nav-link active" %>
        </li>

       <% if account_signed_in? %>
            <li class="nav-item">
                <%= link_to 'Realizar Deposito', new_deposit_path, class:"nav-link active" %>
            </li>
            <li class="nav-item">
                <%= link_to 'Realizar Saque', new_withdrawal_path, class:"nav-link active" %>
            </li>
            <li class="nav-item">
                <%= link_to 'Realizar Transação', new_transaction_path, class:"nav-link active" %>
            </li>
            <li class="nav-item">
                <%= link_to 'Sair da Conta', destroy_account_session_path, data: { turbo_method: :delete}, class:"nav-link active" %>
            </li>
        
        <% else %>

            <li class="nav-item">
                <%= link_to 'Entrar na Conta', new_account_session_path, class:"nav-link active" %>
            </li>
            <li class="nav-item">
                <%= link_to 'Criar Conta', new_account_registration_path, class:"nav-link active" %>
            </li>

        <% end %>

      </ul>
      
    </div>
  </div>
</nav>