<h1>Banco</h1>

<%if account_signed_in? %>
    <div class="d-flex flex-wrap flex-row gap-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Saldo</h5>
                <p class="card-text">R$ <%= current_account.balance%></p>
            </div>
        </div>
    <div>

    <div class="d-flex flex-wrap flex-row gap-3">
        <% @list_deposits.each do |deposit| %>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Deposito de:</h5>
                <p class="card-text">R$ <%= deposit.amount%></p>
                <p class="card-text">Feito em <%= deposit.created_at.in_time_zone('Brasilia').strftime("%d-%m-%Y %H:%M:%S") %></p>
            </div>
        </div>
        <% end %>
        <% @list_withdrawals.each do |withdrawal| %>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Saque de:</h5>
                <p class="card-text">R$ <%= withdrawal.amount%></p>
                <p class="card-text">Feito em <%= withdrawal.created_at.in_time_zone('Brasilia').strftime("%d-%m-%Y %H:%M:%S") %></p>
            </div>
        </div>
        <% end %>
        <% @list_transactions.each do |transaction| %>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Transição de:</h5>
                <p class="card-text">R$ <%= transaction.amount%></p>
                <p class="card-text">Feito em <%= transaction.created_at.in_time_zone('Brasilia').strftime("%d-%m-%Y %H:%M:%S") %></p>
                <p class="card-text">De: <%= transaction.source_name %> Para: <%= transaction.target_name %></p>
                <p class="card-text">Tarifa da Transição: <%= transaction.fee %></p>
            </div>
        </div>
        <% end %>
    <div>


<% else %>

    <div class="bg-light p-5 rounded-lg m-3">
        <h1 class="display-4">Hello, <%= "Ola "%></h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
    
<% end %>